#heading {
    width: min-content;
    font-family: monospace;
    font-size: 4vw;
    background-color: rgb(0, 92, 212);
    margin:auto; 
    padding: 5px 5px 5px 5px;
    border: 0.25vw ridge rgb(0, 0, 0);
    border-radius: 1vw;
    white-space: nowrap;
}
body {
    padding: 1vw 1vw 1vw 1vw;
    margin:auto;
    background:url("circuit1.jpg") repeat center;
}
#motherboard {
    margin-top: 1vw;
    border: 0.25vw ridge rgb(0, 0, 0);
    border-radius: 1vw;
    width: 55vw;
}
.info {
    text-indent: 3vw;
    float:right;
    width: 40vw;
    font-size: 1.75vw;
    background-color: rgb(0, 92, 212);
    margin-top: 1vw;
    padding: 0.25vw 0.25vw;
    border: 0.25vw ridge rgb(0, 0, 0);
    border-radius: 1vw;
}
#intro {
    text-align:center;
    text-indent: 0vw;
}
