body {background-image:url("galaxy_seamless.jpg")}

#title {
    border-radius:5px;
    border:5px solid black;
    padding: 5px 5px 5px 5px;
    width:25%;
    background-color:rgba(150, 150, 150);
}

#div {
    padding: 10px 10px 10px 10px;
    border: 10px solid rgb(150, 35, 144);
    width: 80%;
    background-color:rgb(161, 98, 158);
    margin:auto;
    height:600px;
}

#first-png {
    position: absolute;
    height:150px;
    left:11%;
    top:30%;
}
#second-png {
    position: absolute;
    top:30%;
    left: 33%;
    height:400px;
}
#download-button {
    width:25%;
    position:absolute;
    left:35%;
    z-index:1;
}
#info {
    border:5px solid black;
    right:200px;
    text-align:left;
    position:absolute;
    padding: 5px 5px 5px 5px;
    width:400px;
    height:300px;
}
#info-one {
    font-size:25px;
    text-align:center;
}
#info-two {
    right:0px;
    font-size:20px;
    text-align:left;
}